{% extends 'base.html' %}
{% load review_tags %}
{% block content %}
<h1>{{ category }}</h1>
<div class="container px-4 px-lg-5 border">
  <br>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for company in company_list %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{ company.logo.url }}" class="card-img-top" alt="..." >
        <div class="card-body">
          {{ company.name }}
          <p>TS: {{ company|average_review_rate }}</p>

          <p class="card-text">{{ company.website }}</p>
          <div class="d-flex justify-content-between align-items-center">
              <div class="d-grid gap-2 d-md-block">
              <a href="{% url 'review_company' company.pk %}" class="btn btn-primary" role="button" >View</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}  
  </div>
  <br>
</div>

{% endblock content %}