{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    Hola {{ user.username }}! Bienvenido!
    <p><a href="{% url 'logout' %}"> Salir</a></p>
{% else %}
<p>Usted no ha iniciado sesión aún.</p>
<a href="{% url 'login' %}">Iniciar Sesión</a> |
<a href="{% url 'signup' %}">Registrarse</a>
{% endif %}

{% if user.is_authenticated %}
    <h3 class="bg-light"><a href="{% url 'create_company' %}">Crear Empresa</a></h3>
    <br><br>
{% endif %}
{% endblock content %}
